{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .posts .post p {
            margin-top: 25px;
        }
        .posts .post a {
            text-decoration: none;
            color: #000;
            transition: color .4s ease-in-out;
        }
        .posts .post a:hover {
            color: #999999;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-8">
                <div class="row">
                    <h1>Postagens</h1>
                    <hr>
                </div>
                <div class="row posts">
                    {% for post in posts %}
                        <div class="col-12 post">
                            <a href="{{ path('single_post', {slug: post.slug}) }}">
                                <img src="https://placeimg.com/640/280/any" alt="Imagem Post: {{ post.title }}" class="img-fluid">
                                <h2>{{ post.title }}</h2>

                                <small>
                                    Post criado em {{ post.createdAt|date("d/m/Y H:i:s") }}
                                    por {{ post.author.firstName }} | Comentários: {{ post.commentsCollection.count() }}
                                </small>

                                <p>
                                    {{ post.description }}
                                </p>
                            </a>
                            <hr>
                        </div>
                    {% endfor %}

                    <!-- Paginator -->
                    <div class="col-12">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
            </div>

            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Blog Symfony 4
{% endblock %}

