{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-8">
                <div class="row">
                   <div class="col-12">
                       <h2>{{ post.title }}</h2>
                       <small>Post criado em {{ post.createdAt|date("d/m/Y H:i:s") }}
                           por {{ post.author.firstName }} | Coment치rios: {{ post.commentsCollection.count() }}</small>
                       <hr>
                   </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ post.content|raw }}
                    </div>
                </div>

                <div class="row">

                    {% if post.commentsCollection.count() %}
                        <div class="col-12">
                            <h3>Coment치rios</h3>
                            <hr>
                            {% for comment in post.commentsCollection %}
                                <div class="card">
                                    <div class="card-body">
                                        <strong>{{ comment.name }}</strong> - <strong>{{ comment.email }}</strong>
                                        <br>
                                        {{ comment.comment }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="col-12">
                        <hr>
                        <h3>Deixar Coment치rio</h3>
                        {{ form_start(form, {action: path('comment_save', {post_id : post.id })}) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-sm btn-success">Enviar Coment치rio</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-4">

            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Blog Symfony 4
{% endblock %}

