{% extends 'base_admin.html.twig' %}

{% block body %}
    {#<form action="{{ path('post_update', {'id': post.id}) }}" method="post">#}
        {#<p>#}
            {#<label> Titulo da Postagem</label>#}
            {#<input type="text" name="title" value="{{ post.title }}">#}
        {#</p>#}

        {#<p>#}
            {#<label> Descrição da Postagem</label>#}
            {#<input type="text" name="description" value="{{ post.description }}">#}
        {#</p>#}


        {#<p>#}
            {#<label>Conteúdo da Postagem</label>#}
            {#<textarea name="content" id="" cols="30" rows="10">{{ post.content }}</textarea>#}
        {#</p>#}

        {#<p>#}
            {#<label>Slug</label>#}
            {#<input type="text" name="slug" value="{{ post.slug }}">#}
        {#</p>#}

        {#<p>#}
            {#<button type="submit">Criar Postagem</button>#}
        {#</p>#}

    {#</form>#}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-lg btn-success">Atualizar Post</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Edição de Template
{% endblock %}

